################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp/GildedRoseTest.UpdateQuality.received.txt
